<div class="login-container">
    <h2>Register</h2>
    <a href="#" hx-get="/login" hx-target="#main-content">Already got an account? Login here</a>
    <form id="registerForm" hx-post="/register" hx-target="#main-content" hx-swap="innerHTML">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="password">Confirm Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Register</button>
    </form>
</div>